# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
cli_venv/
ENV/
env/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs and databases
*.log
*.sql
*.sqlite

# dotenv environment variables file
.env

# mypy
.mypy_cache/

# pyre
.pyre/

# pytype static type analyzer
.pytype/

# profiling data
.prof

# celery beat schedule file
celerybeat-schedule

# coverage reports
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# other files
*.bak
*.swp
